@model IEnumerable<BackEndCapstone.Models.Tutorial>

@{
    ViewData["Title"] = "Index";
}
<div>
    <div style="text-align: center">
        <img align="center" src="~/images//tutorial3.png" alt="product" style="max-height: 300px; min-height: 200px; max-width:1300px; min-width:1100px;">  &nbsp;
    </div>

</div>
<hr />
<br />


<div class="container">
    <div class="row justify-content-between">
        <h1>Tutorials</h1>


        <p>
            <a class="btn btn-outline-danger btn-xxs" asp-action="Create">Create New</a>
        </p>
        <br />

        <div class="tutorialContainer">
            <div class="row justify-content-between">
                @foreach (var item in Model)
                {
                <div class="card tutorialCard"  style="width: 22rem; margin-bottom: 3rem; margin-left: 1.5rem; align-content:center;">
                    <video width="320" height="240" >
                        <source src="@Url.Content("~/videos/" + item.VideoPath)" type="video/mp4" style=" width: 20rem;">
                        </video>
                        <div class="card-body">
                            <h7 class="card-title">@item.Title</h7>
                            <a asp-action="Details" class="btn btn-outline-danger btn-xxs" asp-route-id="@item.Id">Details</a>

                        </div>
                </div>
                }
                </div>
            </div>
        </div>
    </div>



                    