@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jewelry By Aryn</h1>
    <p>Add some sort of meaningful quote or trendy catch phrase here</a>.</p>
</div>
