@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="margin: 0px !important;">
<div id="carouseControls" class="carousel slide" data-ride="carousel" style="width:100% !important;">
    <div class="carousel-inner" style="width:100% !important;">
        <div class="carousel-item active" style="width:100% !important;">
            <img class="mw-100" src="~/images/Home1.png" style="height: 470px; width: 1290px;" alt="First slide">
        </div>
        <div class="carousel-item" style="width:100% !important;">
            <img class="mw-100"  src="~/images/home14.jpg" style="height: 470px; width:1290px;"  alt="Second slide">
        </div>
        <div class="carousel-item" style="width:100% !important;">
            <img class="mw-100" src="~/images/home13.png" style="height: 470px; width:1290px;" alt="third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    </div>
<br />
<div class="container">
    <div class="row align-items-center">
        <div class="col-6" style="width:400px">
            <img src="~/images/home8.png" style="width:500px">
        </div>
        <div class="col-6" style="width:400px">
            <p>
                Weatherly Designs offers high-quality, handcrafted and personalized accessories at affordable price. We avoid
                retail markups by shipping all orders directly to the customer, usually within 5 business days.
            </p>
        </div>
        <br />
    </div>
    <div class="row align-items-center">
        <div class="col-6" style="width:400px">
          <p>  We craft our jewelry with only the finest precious gemstones. for more information check out our gemstones page! </p>
        </div>
        <div class="col-6" style="width:400px">
            <img src="~/images/gamstones.jpg" style="width:500px">
        </div>
    </div>
    <br />
    <div class="row align-items-center">
        <div class="col-6 align-items-center" style="width:400px">
            <img src="~/images/contact.png" style="width:500px">
        </div>
        <div class="col-6" style="width:400px">
            <h6>Contact Us:</h6>
            <p><u>Phone:</u> (615)428-4487</p>
            <p><u>Email:</u> WeatherlyDesigns1@gmail.com</p>
       </div>
    </div>

